*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
}
body{
  background-color: rgb(167, 236, 213);
}
.main-heading{
  color: aliceblue;
  background-color: black;
  font-size: 60px;
  text-align: center;
}

.search{
  display: flex;
  padding: 30px;
  margin: 10px;
  justify-content: center;
}
.search input{
 display: flex;
  height: 50px;
  width: 70%;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  outline: none;
  border: none;
  
}
button{
  height: 50px;
  width: 60px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: rgb(128, 128, 250);
  margin-left: 10px;
}
.weather{
  text-align: center;
}
.temp{
  font-size: 45px;
}
.city{
  font-size: 60px;
}
.details{
  display: flex;
  justify-content: space-around;
}
.col{
  display: flex;
}
p{
  font-size: 20px;
}